<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515546051898-0pp422ksp4mu7ser3fc1tv899jjudfc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515546051898-0pp422ksp4mu7ser3fc1tv899jjudfc9</string>
	<key>API_KEY</key>
	<string>AIzaSyDsyVxr4ZgUv2-N_D2MCbUVKOa_2IaCQPw</string>
	<key>GCM_SENDER_ID</key>
	<string>515546051898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isaac.CollectionsView.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>uitodolist</string>
	<key>STORAGE_BUCKET</key>
	<string>uitodolist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515546051898:ios:e3c3914208811d4cd08c03</string>
</dict>
</plist>